+{
    compiler      => 'gcc',
    simulator     => undef,
    c_flags       => [ '-g', '-Dunix' ],
    ld_flags      => [ '' ],
    options       => ['-O0',
                       [ '-O2',
                         [ '-fomit-frame-pointer', '-funroll-loops' ],
                       ],
                     ],
    testdir       => 'testsuite',
    compile_only  => 0,

    size => {
         char  => 8,
         short => 16,
         int   => 32,
         long  => 64,
         pointer => 64,
    },

    timeout       => 10,
    color         => 1,
};
